<div class="container">
<div class="card text-white bg-dark mb-3">
  <div class="card-header">Déclarer un problème </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="card-text">
      <form class="form-horizontal"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="problemeForm">
        <div class="form-group row">
          <label for="exampleInputEmail1">¨Prenom :</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>