<div class="container">
<div class="card text-white bg-dark mb-3">
  <div class="card-header">Déclarer un problème </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <div class="card-text">
      <form class="form-horizontal"
        novalidate
        (ngSubmit)="save()"
        [formGroup]="problemeForm">
        <div class="form-group row">
          <label for="exampleInputEmail1" class="col-md-3 clo-form-label text-right">Prénom de l'utilisateur :</label>
          <div class="col-md-9">
          <input class="form-control" 
          id="PrenomId" 
          type ="text" 
          placeholder="Entrer votre Prénom" 
          formControlName="Prenom"
          [ngClass]="{'is-invalid': (problemeForm.get('Prenom').touched ||
          problemeForm.get('Prenom').dirty) &&
          !problemeForm.get('Prenom').valid,
          'is-valid': (problemeForm.get('Prenom').touched ||
          problemeForm.get('Prenom').dirty) &&
          problemeForm.get('Prenom').valid}"/>
          <span class="form-text" *ngIf="(problemeForm.get('Prenom').touched ||
          problemeForm.get('Prenom').dirty) &&
          problemeForm.get('Prenom').errors">
          <span *ngIf="problemeForm.get('Prenom').errors.minlength">
            <small class="text-muted">
              Veuillez entre plus de caractères
            </small>
          </span>
          <span *ngIf="problemeForm.get('Prenom').errors.required">
              <small class="text-muted">
                Merci de saisir votre prénom
              </small>
            </span>
        </span>  
        </div>
        </div>
      </form>
    </div>
    
  </div>
</div>
</div>